table {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit
}

tfoot {
  display: table-footer-group;
  vertical-align: middle;
  border-color: inherit
}

table > tr {
  vertical-align: middle;
}

col {
  display: table-column
}

colgroup {
  display: table-column-group
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit
}

td, th {
  display: table-cell;
  vertical-align: inherit
}

th {
  font-weight: bold
}

caption {
  display: table-caption;
  text-align: -webkit-center
}